<div class="modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
  <div class="modal-dialog" role="document">
		<%= render partial: '/users/partials/form'%>
  </div> 
</div> 
