*{
	outline: 0 !important;
}


body{
	font-family: $basic-font;
}

.container-fluid{
  height: 100%;
}

.flex{
	display: flex;
	flex-direction: row;
}
.flex-col{
	flex-direction: column;
}

.full-star, .empty-star{
	color: $star-color;
}

.b-b-1{
  border-bottom: 1px solid $border-color;
}

.m-t-3{
  margin-top: 20px;
}

.m-t-1{
  margin-top: 20px;
}

a.no-color{
  color: $border-secondary;
}

.search-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder-color;
  font-size: 18px;
}
.search-box::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color;
  font-size: 18px;
}
.search-box:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color;
  font-size: 18px;
}
.search-box:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color;
  font-size: 18px;
}
