.row.header.alt {
	.navbar{
		background: transparent !important;
		padding: 0;
		border-bottom: 1px solid $border-color;
		.nav {
			a{
				color: $placeholder-color !important;
				margin-right: 30px;
				cursor: pointer;
			}
			.navbar-brand{
				margin-left: 20px;
				margin-top: 15px;
				margin-bottom: 10px;
			}
			.nav-link{
				margin-top: 25px;
			}
		}
	}	
	.search-nav{
		border: none;
		border-left: 1px solid $border-color;
		width: 58%;
		.group-form{
			margin-top: 20px;
			margin-left: 24px;
		}
		.search-box{
			width: 85%;
		  margin-left: 15px;
		  height: 40px;
		  border: none;
		  padding-top: 10px;
		}
		.search-icon{
			margin-top: 2px;
			cursor: pointer;
		}
		.list-group{
			opacity: 0;
			width: 50%;
			position: absolute;
			z-index: 99999;
			top: -700px;
			left: 181px;
			font-size: 14px;
			font-weight: 200;
			transition: opacity .4s .3s, top 1s;

			a{
				transition: padding-left .5s;
				&:hover{
					background: $airbnb_color;
					color: $white !important;
					padding-left: 40px;
				}
			}
		}
	}
}

