.search-engine{
	.dates-row{
		border-bottom: 1px solid $light-gray;
		margin-left: 10px;
		padding-bottom: 20px;
		label{
			margin-top: 10px;
		}
		.form-control{
			width: 20%;
			height: 35px;
			margin-right: 40px;
		}
		select{
			height: 35px !important;
		}
	}//Dates Row 
	.room-row{
		padding-top: 20px;
		margin-left: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid $light-gray;
		.label{
			margin-top: 10px;
		}
		.room-type{
			background: $border-color;
			padding: 8px 45px;
			margin-right: 10px;
		}
		.checkbox-indicator{
			/*background: $white;*/
			border: 1px solid #fff;
			width: 20px;
			height: 20px;
			top: 10px;
			left: 8px;
		}
	}//Room Row 
	.filter{
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 10px;
		border-bottom: 1px solid $light-gray;
		.btn-filter{
			height: 37px;
			width: 105px;
			background: $white;
			border: 1px solid $light-gray;
			transition: border-color .5s;
			margin-left: 10px;
			&:hover{
				border-color: $divider-color;
			}
		}
	}//Filter Button
	.filter-row{
		.space-row{
			.custom-select.form-control{
				width: 33%;
    		margin-right: 30px;
    		border-radius: 0px;
			}
		}
		.custom-checkbox{
			margin-left: 0 !important;
		}
		.size-col{
			padding-top: 20px;
			padding-bottom: 20px;
			.col-md-1{
				width: 14.65333%;
			}
		}
		.facilities-row{
			.size-col{
				border-top: 1px solid $light-gray;
			}
			.col-md-1{
				width: 14.65333%;
			}
		}
		.btn-group{
			margin-top: 25px;
			margin-bottom: 20px;
			.btn-apply{
				width: 115px;
				border-radius: 4px;
				height: 37px;
				padding-top: 6px;
				background-color: $airbnb-color;
				border: none;
				&:hover{
					background: $airbnb-hover;
				}
			}
			.btn-cancel{
				margin-left: auto;
				border-radius: 4px;
				margin-right: 20px;
				height: 37px;
				width: 115px;
			}
		}

	}//Filter Row

	.result-row{
		margin-top: 20px;
		.result-col{
			.price{
				font-size: 14px;
				color: #484848;
				font-weight: 700;
			}
			.type{
				color: #484848;
				font-size: 15px;
				font-weight: 200;
				margin-left: 10px;
			}
			.rating {
				span{
					font-size: 13px;
				}
			}
		}
	}//Result Row

} //Search Engine Style
















