$basic-font: sans-serif;
$border-color: #dce0e0;
$border-secondary: #7d7d7d;
$light-gray: #d7d7d7;
$airbnb-color: #ff5a5f;
$airbnb-hover: rgba(255,90,95,.7);
$star-color: #008489;
$placeholder-color: #222;
$white: #fff;
$placeholder-size: 18px;
$divider-color: rgba(60,63,64,0.9);
$default-img: #bbb;
